<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FIFA 23 Player database</title>
</head>

<body>
    <h1>FIFA 23 Player database</h1>
    <p>
        Here you will find some insights about the players on the game.
    </p>

    <ul>
        <li>
            <a href="/birthday">Players having birthday</a>
        </li>
        <li>
            <a href="/talest">Top 10 talest players</a>
        </li>
        <li>
            <a href="/heaviest">Top 10 heaviest players</a>
        </li>
        <li>
            <a href="/ranking">Nationality ranking</a>
        </li>
        <li>
            <a href="/perNation">Best 11 players per Nation</a>
        </li>
        <li>
            <a href="/perPosition">Best 10 players by position</a>
        </li>
        <li>
            <a href="/perStat">Best 10 players by Stat</a>
        </li>
        <li>
            <a href="/drill">Database drill-down</a>
        </li>
    </ul>

</body>

</html>